<mat-card>
  <mat-card-header>
    <mat-card-title>Add stock minimum stock data to insert row</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="row">
      <div>
        {{ row.value | json }}
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Add stock symbol (ticker)</mat-label>
        <input formControlName="symbol" matInput type="text" required>
        <mat-hint>Must be a valid ticker symbol</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Add number of shares</mat-label>
        <input formControlName="shares" matInput type="number" required>
        <mat-hint>Must be a number greater than 0</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Add buy price</mat-label>
        <input formControlName="buyPrice" matInput type="number" (keyup.enter)="nextStock()" required>
        <mat-hint>Must be a number greater than 0</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Add dividend yeild</mat-label>
        <input formControlName="dividendYield" matInput type="number" (keyup.enter)="nextStock()">
        <mat-hint>Must be a number</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="close()">Close</button>
    <button mat-raised-button [disabled]="row.invalid" color="primary" (click)="nextStock()">Add another stock</button>
  </mat-card-actions>
</mat-card>
