.chart-container,
.list-container {
  height: 50vh;
}

.chart-container {
  position: relative;
}

.table-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.table-buttons {
  padding: 20px;
}

.table-container {
  height: 100%;
}

.navbar-container {
  padding: 20px;
}

.navbar-toggle {
  padding: 20px;
  z-index: 1;
  position: absolute;
}

.close-navbar {
  display: flex;
  justify-content: flex-end;
}

.import-button {
  padding: 20px;
}
