<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="navbar-container">
      <div class="close-navbar">
        <button mat-icon-button (click)="close('toggle button')">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="import-button">
        <button mat-raised-button color="primary" (click)="openImportDialog()">Import Data</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="chart-container">
      <div class="navbar-toggle">
        <button mat-mini-fab color="primary" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="add-button" *ngIf="!addRowsModalEnabled">
        <button mat-raised-button color="primary" (click)="toggleAddRows()">Add Rows</button>
      </div>
      <div *ngIf="addRowsModalEnabled">
        <app-add-stock-form (addNewRow)="addNewStock($event)" (closeForm)="toggleAddRows()"></app-add-stock-form>
      </div>
    </div>
    <div class="list-container">
      <app-stock-table [dataSource]="rows$ | async" (removeRow)="removeRow($event)"></app-stock-table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>