<div class="data-import-modal-container">
  <div *ngIf="currentStep === FormSteps.Type" class="import-modal-template">
    <h3>Choose file type</h3>
    <div class="select-type-modal">
      <div class="csv-button">
        <button mat-raised-button color="primary" (click)="chooseImportType(ImportTypes.CSV)">CSV</button>
      </div>
      <div class="json-button">
        <button mat-raised-button color="primary" (click)="chooseImportType(ImportTypes.JSON)">JSON</button>
      </div>
    </div>
    <div class="cancel-button">
      <button mat-raised-button (click)="cancelImport()">Back</button>
    </div>
  </div>

  <div *ngIf="currentStep === FormSteps.Upload" class="import-modal-template">
    <h3>Upload Data</h3>
    <!-- <button mat-raised-button color="primary" (click)="uploadData()">Upload</button> -->
    <div *ngIf="selectedImportType === ImportTypes.CSV">
      <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="inputChange($event)" accept=".csv"/>
      <button mat-flat-button color="primary" (click)="csvInput.click()">Upload</button>
    </div>
    <div *ngIf="selectedImportType === ImportTypes.JSON">
      <input #jsonInput hidden="true" type="file" onclick="this.value=null" (change)="inputChange($event)" accept=".json"/>
      <button mat-flat-button color="primary" (click)="jsonInput.click()">Upload</button>
    </div>
    <div class="cancel-button">
      <button mat-raised-button (click)="cancelImport()">Back</button>
    </div>
  </div>
</div>