.data-import-modal-container {
  text-align: center;
  height: 30vh;
  width: 30vh;
}

.select-type-modal {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.csv-button,
.json-button {
  padding: 20px;
}

.import-modal-template {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
